{% if page.header.custom_text_fields %}

    {% for text in page.header.custom_text_fields %}

        <div class="row">
            <div class="column medium-10 medium-offset-1 large-6 large-offset-3">
                <div class="content-block-text">

                    {% if text.title %}

                        <h2>{{ text.title }}</h2>

                    {% endif %}

                    {% if text.caption %}

                        <span class="caption">{{ text.caption }}</span>

                    {% endif %}

                    {% if text.textarea %}

                        <p>{{ text.textarea }}</p>

                    {% endif %}

                </div>
            </div>
        </div>

    {% endfor %}

{% endif %}
