<div class="home-visual">

    <img src="{{ page.media['lennart-zw.png'].url }}" alt=""/>

    <div class="content">
        <h2>FRONT END DEVELOPER</h2>
        <span>STAGIAIR</span>
    </div>


</div>
