{% if page.title or page.content %}

    <div class="top-content">
        <div class="row">
            <div class="column small-10 small-offset-1 medium-6 medium-offset-1 large-4 large-offset-1">

                {% if page.header.intro_title %}

                    <h1>{{ page.header.intro_title }}</h1>

                {% endif %}

                {% if page.content %}

                    <p>{{ page.content }}</p>

                {% endif %}

                <a href="#" class="secondary button">Lees meer</a>

            </div>
        </div>
    </div>

{% endif %}
