@keyframes appear {

    100% {

        opacity: 1;

    }

}

@keyframes leftToRight {

    0% {

        opacity: 0;
        margin-left: rem-calc(-200);

    }

    100% {

        opacity: 1;
        margin-left: 0;

    }

}

@keyframes upDown {

    0% {

        opacity: 0;
        height: 0;

    }

    40% {

        height: 20%;

    }

    100% {

        opacity: 1;
        height: 100vh;

    }

}

@keyframes menuDown  {

    0% {

        opacity: 0;
        top: rem-calc(-100);

    }

    100% {

        opacity: 1;
        top: rem-calc(0);

    }

}

@keyframes fadeIn {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }

}

@keyframes scroll {

    0% {

        opacity: 0;

    }

    10% {

        transform: translateY(0);
        opacity: 1;

    }

    100% {

        transform: translateY(15px);
        opacity: 0;

    }

}
