{% extends 'partials/base.html.twig' %}

{% block content %}

    {% include 'elements/home-visual.html.twig' %}

    <div class="container">

        {% if page.content %}

            <div class="quote-block">
                <div class="row">
                    <div class="column small-12 large-8 large-offset-2 xlarge-6 xlarge-offset-3">

                        <span class="quote">{{ page.content }}</span>

                    </div>
                </div>
            </div>

        {% endif %}

        {% include 'elements/content-block-text.html.twig' %}

    </div>

{% endblock %}
