{% extends 'partials/base.html.twig' %}

{% block content %}

    {% include 'elements/home-visual.html.twig' %}

    {% if page.header.quote %}

        <div class="quote-block">
            <div class="row">
                <div class="column medium-8 medium-offset-2">

                    <span class="quote">{{ page.header.quote }}</span>

                </div>
            </div>
        </div>

    {% endif %}

    {% include 'elements/content-block-text.html.twig' %}

{% endblock %}
