{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="header-container"></div>

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <!-- Slides -->
            {% for p in page.find('/projecten').children if p != page %}

                <div class="swiper-slide">

                    <img src="{{ (p.media.images|first) }}" alt=""/>

                </div>

            {% endfor %}

            {#{% for p in page.find('/projecten').children if p != page %}#}
                {#<li><a href="{{p.url}}">{{ p.title }}</a></li>#}
            {#{% endfor %}#}

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

{% endblock %}
