{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="swiper-content">

        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Slides -->
                {% for p in page.find('/projecten').children if p != page %}

                    <div class="swiper-slide">

                        <div class="row">
                            <div class="column medium-6">

                                <div class="content">

                                    <h1>{{ p.header.title }}</h1>
                                    <p>{{ p.header.intro }}</p>
                                    <a href="{{ p.url }}" class="primary button">Bekijk project</a>

                                </div>

                            </div>
                        </div>

                        <div class="image-holder">

                            <img src="{{ (p.header.image|first).path }}" alt=""/>

                        </div>

                    </div>

                {% endfor %}

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </div>

{% endblock %}
