{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="top-content">
        <div class="row">
            <div class="column medium-6 medium-offset-0">

                <h1>Redkiwi</h1>
                <p>dawdawda
                dawdawwa
                dawdaw</p>

            </div>
        </div>
    </div>

    {% for text in page.header.custom_text_fields %}

    <div class="row">
        <div class="column medium-6 medium-offset-3">
            <div class="content-block-text">

                <h2>{{ text.title }}</h2>
                <span class="caption">{{ text.caption }}</span>
                <p>{{ text.textarea }}</p>

            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}
