{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="top-content">
        <div class="row">
            <div class="column medium-6 medium-offset-0">

                <h1>Redkiwi</h1>
                <p>dawdawda
                dawdawwa
                dawdaw</p>

            </div>
        </div>
    </div>

{% endblock %}
