{% extends 'partials/base.html.twig' %}

{% block content %}

    {% include 'elements/top-content.html.twig' %}

    <div class="container">

        {% include 'elements/content-block-text.html.twig' %}

        {% include 'layout/footer.html.twig' %}

    </div>

{% endblock %}
