.content-block-text {

    padding: rem-calc(8 0);

    @include breakpoint(medium) {

        padding: rem-calc(80 0);

    }

    @include breakpoint(large) {

        padding: rem-calc(100 0);

    }

    .title {

        margin-bottom: rem-calc(-8);

    }

    img {

        margin-top: rem-calc(24);

    }

    .title,
    .caption,
    .text {

        opacity: 0;

    }

}

.animate {

    .title {

        @include animation('600ms forwards leftToRight');

    }

    .caption {

        @include animation('600ms forwards 600ms leftToRight');

    }

    .text {

        @include animation('600ms forwards 1200ms fadeIn');

    }

}

