.home-visual {

    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    .home-visual-background {

        @include animation('2000ms forwards upDown');

        background: $blue-gradient;
        height: auto;
        opacity: 0;
        width: auto;

        .landing-holder {

            display: flex;
            height: 100%;
            width: auto;

            .landings-text {

                align-self: center;
                color: $white;
                text-align: left;
                width: auto;
                z-index: 2;

                .title {

                    margin-top: rem-calc(-8);

                    @include breakpoint(large) {

                        @include animation('800ms forwards 3600ms leftToRight');
                        opacity: 0;

                    }

                }

                p {
                    padding-bottom: rem-calc(8);
                    width: 80%;

                    @include breakpoint(medium) {

                        padding-bottom: rem-calc(16);

                    }

                    @include breakpoint(large) {

                        @include animation('800ms forwards 4400ms fadeIn');
                        opacity: 0;

                    }

                }

                .subtitle {

                    margin-bottom: rem-calc(100);

                    @include breakpoint(large) {

                        @include animation('800ms forwards 2800ms leftToRight');
                        opacity: 0;

                    }

                }

                .button {

                    @include breakpoint(large) {

                        @include animation('800ms forwards 5200ms fadeIn');
                        opacity: 0;

                    }

                }

            }

            .landing-image {

                align-self: flex-end;
                position: absolute;
                right: rem-calc(-100);
                width: 100%;

                @include breakpoint(medium) {

                    right: rem-calc(-200);
                    width: 85%;

                }

                @include breakpoint(large) {

                    @include animation('800ms forwards 2000ms leftToRight');

                    opacity: 0;
                    position: relative;
                    right: 0;
                    width: 100%;

                }

                img {

                    align-self: center;
                    opacity: 0.3;
                    width: 100%;
                    z-index: 1;

                }

            }

        }

    }

}
