.home-visual {

    height: 100vh;
    width: 100%;
    background: $blue;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;

    .content {

        width: auto;
        text-align: center;
        color: $white;
        margin-bottom: rem-calc(60);
        z-index: 1;

        h2 {

            @extend %sf-bold;

            border-bottom: rem-calc(2) solid $white;
            margin-bottom: rem-calc(16);

        }

        span {

            @extend %sf-bold;

            font-size: rem-calc(20);
            letter-spacing: rem-calc(30);
            margin-top: rem-calc(8);

        }

    }

    img {

        width: 35%;
        position: absolute;
        bottom: 0;
        opacity: 0.3;

    }

}

