.intro-image {

    display: flex;
    justify-content: center;
    width: 100%;
    padding: rem-calc(100 0);

    img {

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 50%;

    }

}

.intro-content {

    padding: rem-calc(40 0);

}

.content-container {

    width: 100%;

    .content-wrapper {

        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;

        .image-content-holder {

            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;

        }

        &:nth-child(odd) {

            background: rgba(247, 247, 247, 0.5);

        }

        &:last-child {

            height: auto;
            padding: rem-calc(40 0);

        }

    }

}

.even {

    order: 2;

}
