.project-bg {

    height: 100vh;
    width: 100%;

    .top-content {

        height: 60vh;
        background: $blue-gradient;

    }

}

.swiper-content {

    position: relative;

    h1 {

        font-size: rem-calc(50);
        line-height: rem-calc(50);

    }

}

.content-slider {

    position: relative;

    p {

        padding-bottom: rem-calc(16);
        color: $white;

    }


    .caption {

        color: $orange;

    }

    .top-content {

        background-color: whitesmoke;

    }

}

.image-preview-holder {

    bottom: rem-calc(80);
    height: 40vh;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;

    img {

        display: block;
        margin: auto;
        width: 100%;

        @include breakpoint(medium) {

            width: 35%;

        }

    }

}

.intro-content {

    margin-top: rem-calc(200);

}
