//.project-bg {
//
//    background: $blue-gradient;
//    height: 80vh;
//    position: absolute;
//    width: 100%;
//    z-index: -20;
//
//}

.swiper-content {

    position: relative;

}

.content-slider {

    position: relative;

    p {

        padding-bottom: rem-calc(16);
        color: $white;

    }

    h1 {

        color: $white;

    }

    .caption {

        color: $orange;

    }

}

.image-preview-holder {

    bottom: rem-calc(40);
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;

    img {

        display: block;
        margin: auto;
        width: 100%;

        @include breakpoint(medium) {

            width: 35%;

        }

    }

}
