.content-left {

    align-items: center;
    background: $blue-gradient;
    color: $white;
    display: flex;
    float: left;
    height: 100%;
    justify-content: center;
    padding: rem-calc(0 100);
    width: 25%;

}

.content-right {

    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {

        background-repeat: no-repeat;
        position: absolute;

    }

    .swiper-pagination {

        transform: rotate(90deg);
        bottom: auto;
        right: rem-calc(20);

        .swiper-pagination-bullet {

            background-color: $orange;
            width: rem-calc(10);
            height: rem-calc(10);
            margin: rem-calc(10);

        }

    }

}

.project-bg {

    height: 100vh;

}
