.intro {

    padding: rem-calc(100 0);
    position: relative;

    h2 {

        margin: 0;

    }

    h2,
    span,
    p {

        opacity: 0;

    }

    .intro-image {

        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 50%;
        position: absolute;
        right: 55%;
        top: 0;
        bottom: 0;
        background-color: whitesmoke;
        opacity: 0;

        img {

            width: 50%;
            opacity: 0;

        }

    }

    &.animate {

        .intro-image {

            @include animation('800ms forwards leftToRightProject');

            img {

                @include animation('800ms forwards 800ms fadeIn');

            }

        }

        h2 {

            @include animation('800ms forwards 1600ms leftToRight');

        }

        span {

            @include animation('800ms forwards 2400ms leftToRight');


        }

        p {

            @include animation('800ms forwards 3200ms fadeIn');


        }

    }

}


.content-container {

    width: 100%;

    .content-wrapper {

        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;

        h2,
        p {

            opacity: 0;

        }

        .image-content-holder {

            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            opacity: 0;

        }

        &:nth-child(odd) {

            background: rgba(247, 247, 247, 0.5);

        }

        &:last-child {

            height: auto;
            padding: rem-calc(40 0);

        }

        &.animate {

            h2 {

                @include animation('800ms forwards leftToRight');

            }

            p {

                @include animation('800ms forwards 800ms fadeIn');

            }

            .image-content-holder {

                @include animation('800ms forwards 1600ms fadeIn');

            }

            .even {

                h2 {

                    @include animation('800ms forwards rightToLeft');

                }

            }

        }

    }

}

.even {

    order: 2;

}
