.top-content {

    @include animation('800ms forwards 200ms appear');

    background: $blue-gradient;
    color: $white;
    opacity: 0;
    padding: rem-calc(100 0);
    width: 100%;

    @include breakpoint(medium) {

        padding: rem-calc(120 0);

    }

    @include breakpoint(large) {

        padding: rem-calc(180 0);

    }

}
