.top-content {

    .content-wrapper {

        display: flex;
        align-items: center;

        @include animation('800ms forwards 200ms appear');

        background: $blue-gradient;
        color: $white;
        height: 100vh;
        width: 100%;

        h1 {

            color: $white;
            font-size: rem-calc(100);
            line-height: rem-calc(90);

        }

        p {

            margin-bottom: rem-calc(32) ;

        }

    }

}
