.footer {

    background-color: $dark-blue;
    margin-top: rem(80);
    padding: rem-calc(16);

    .footer-content {

        align-items: center;
        display: flex;
        justify-content: space-between;

        span {

            color: $white;

        }

        .linkedin {

            @extend %bold;
            color: $white;
            font-size: rem-calc(24);

        }

    }

}

