<div class="footer">
    <div class="footer-content">
        <div class="wrapper">

            {#TODO adds translation instead of hardcoded text#}
            <span class="caption">0917734@hr.nl</span>

        </div>

        {#TODO Add linkedin logo#}
        <div class="linkedin"></div>

    </div>
</div>
